{% load static %}
<main class="container mt-5">
	<div class="row">
		<div class="col-sm-8 ">
			<div class="rounded p-2 mb-3 bg-cinzaClaro">
				<h2>Titulo do conteudo</h2>
				<h5>descrição do conteudo</h5>
				<p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
					industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type
					and scrambled it to make a type specimen book. It has survived not only five centuries, but also the
					leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with
					the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop
					publishing software like Aldus PageMaker including versions of Lorem Ipsum.
				</p>
				
			</div>	
			<div class="rounded p-2 mb-3 bg-cinzaClaro">
				<h2>Titulo do conteudo</h2>
				<h5>descrição do conteudo</h5>
				<p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
					industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type
					and scrambled it to make a type specimen book. It has survived not only five centuries, but also the
					leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with
					the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop
					publishing software like Aldus PageMaker including versions of Lorem Ipsum.
				</p>
				
			</div>	
			<div class="rounded p-2 mb-3 bg-cinzaClaro">
				<h2>Titulo do conteudo</h2>
				<h5>descrição do conteudo</h5>
				<p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
					industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type
					and scrambled it to make a type specimen book. It has survived not only five centuries, but also the
					leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with
					the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop
					publishing software like Aldus PageMaker including versions of Lorem Ipsum.
				</p>
			</div>	
		</div>
		<aside class="col-sm-4 ">
			<h2>Sobre</h2>
			<h5>Mais informações </h5>
			<p>Pagina simples, feita pra reforçãr e desnvolver as habilidades front end, necessárias para dar
				conituidade aos projetos djangoe python
			</p>
			<h3 class="mt-4">Personagens </h3>
			<ul class="nav nav-pills flex-column">
				<li class="nav-item">
					<a class="nav-link " id="n1" onmouseover="marcar(this.id)" onmouseout="marcar(this.id)">Shanks</a>
				</li>
				<li class="nav-item">
					<a class="nav-link "id="n2" onmouseover="marcar(this.id)" onmouseout="marcar(this.id)">Luffy</a>
				</li>
				<li class="nav-item">
					<a class="nav-link " id="n3" onmouseover="marcar(this.id)" onmouseout="marcar(this.id)">Namy</a>
				</li>
				<li class="nav-item">
					<a class="nav-link " id="n4" onmouseover="marcar(this.id)" onmouseout="marcar(this.id)">Usop</a>
				</li>
				<li class="nav-item">
					<a class="nav-link " id="n5" onmouseover="marcar(this.id)" onmouseout="marcar(this.id)">Zoro</a>
				</li>
				<li class="nav-item">
					<a class="nav-link " id="n6" onmouseover="marcar(this.id)" onmouseout="marcar(this.id)">Robin</a>
				</li>
				<li class="nav-item">
					<a class="nav-link " id="n7" onmouseover="marcar(this.id)" onmouseout="marcar(this.id)">Medico</a>
				</li>

			</ul>

		</aside>
	</div>
	
</main>

<script>
	const marcar=(obj)=>{
		document.getElementById(obj).classList.toggle("active");
	}

</script>
