.bg-AzulEscuro{
    background-color: #046;
}
.bg-cinzaClaro{
    background-color: #ddd;
}
header img{
	width: 100%;
	padding-right: 0;
	
}
.header-container {
  position: relative; 
}

#header-img{
  position: relative;

}

header h1{
  position: absolute;
  font-size: 32px;
  left: 250px;
  top: 135px;
  
}

header nav button{
	color: white;
}