.bg-AzulEscuro{
    background-color: #046;
}
.bg-cinzaClaro{
    background-color: #ddd;
}
.custom-header{

    background-image: url("/static/imagens/nav_one_piece.png");
    width: 100%;
    height: auto;



}